@model List<Product>


   @if(Context.Session.GetString("UserName") != null){
<h1>Wishlist</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var product in Model)
        {
            <li>@product.ProductName - @product.ProductPrice</li>
        }
    </ul>
}
else
{
    <p>Your wishlist is empty.</p>
}
    } else{
        <ul id="wish_items" class="list-group mb-3">
            </ul>

    }
    @section Scripts{
        <script>
        $(document).ready(function(){
            let wishItems = localStorage.getItem("wishItems");
            if (wishItems != null && wishItems != "") {
                //console.log(wishItems);
                // ajax call to checkout
                $.ajax({
                    url: '/Wishlists/Index',
                    type: 'POST',
                    data: {
                        wishcart: wishItems
                    },
                    success: function (response) {
                        //console.log(response);
                        $('#wish_items').append(response);
                    }

                });
            } 
            else {
                alert("Your wishlist is Empty");
            }
            $(document).delegate(".delete", "click", function () {
                var productId = $(this).data('productid')
                var wishItemLength = JSON.parse(localStorage.getItem("wishlistLength"));
                var wishItem = JSON.parse(localStorage.getItem("wishItems"));
                //console.log(wishItem);
                //console.log(wishItemLength);
                for (var i = 0; i < wishItemLength; i++) {
                    if (wishItem[i] == productId) {
                        //console.log(wishItemLength);
                        wishItem.splice(i, 1)
                    }
                }
                localStorage.setItem("wishItems", JSON.stringify(wishItem));
                $(this).parent("li").fadeOut();
            
            });
        });
        
        </script>
    }
