<div>
    <h1>
        Manage Your Clients
    </h1>
    <ul class="list">
        <li>
            <a asp-controller="UserAdmin" asp-action="ManageCustomers" class="btn btn-primary">Manage Customers</a>
            
        </li>
        <li><a asp-controller="UserAdmin" asp-action="ManageSeller" class="btn btn-success">Manage Seller</a></li>
    </ul>

</div>