<div>
    <h1 class="heading display-6">
        Hi dear Seller. Please select one of the following option.
    </h1>
</div>
<div>
    <ul class="list">
        <li>
            <a href="/seller/CreateSeller" class="btn btn-primary">Create New Account</a>
        </li>
        <li>
            <a href="/seller/Login" class="btn btn-success">Log in</a>
        </li>
    </ul>
</div>
