@{
}
<div class="col-3"></div>
<div class="col-6 container bg-light rounded  ">
    <div class="container p-4">
        <h2>Forgot Your Password?</h2>
        <p class="text-justify mt-5">Please enter your valid username. We'll send reset password link to your registered email.</p>
        <form asp-action="ForgotPassword" method="post">
        <div class="row mt-5">
            <div class="col">
                <div class="form-floating">
                        <input id="forgotpassword" name="forgotpassword" class="form-control" placeholder="name@example.com" />
                        <label for="forgotpassword">Username</label>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <input type="submit" value="Request Reset Link" class="d-flex justify-content-center btn btn-success" />
        </div>
        </form>
        <div class="mt-5">
        <a class="mt-5 text-decoration-none" href="/UserAdmins/Login">Back to Login</a>
        </div>
    </div>
</div>
<div class="col-3"></div>