@{
}
<div class="col-3"></div>
<div class="col-6 container bg-light rounded  ">
    <div class="container p-4">
        <h2>Reset Password</h2>
        <p class="text-justify mt-5">Enter new Password</p>
        <form asp-action="ForgotPassword" method="post">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="password" id="password" name="password" placeholder="name@example.com" />
                        <label for="password">Password</label>
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="name@example.com" />
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>*@
            </div>
            <div class="mt-5">
                <input type="submit" value="Change Password" class="d-flex justify-content-center btn btn-success" />
            </div>
        </form>
        <div class="mt-5">
            <a class="mt-5 text-decoration-none" href="/UserAdmins/Login">Back to Login</a>
        </div>
    </div>
</div>
<div class="col-3"></div>