@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row bg-dark">
        <h1 class="text-light p-2">Account Creation</h1>
    </div>
    <div class="row mt-3">
        <div class="col">
            <span class="d-flex justify-content-right m-3"><i class="bi bi-check-lg"></i></span>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <h3 class="display-6 text-success">Account Creation Successfull</h3>
                </div>
                <div class="row">
                    <p>
                        <b>Account successfully creation email has been sent to your verified Email Address</b><br />
                        You are able to edit your profile later and you can change your email address too.
                    </p><br /><br /><br />
                </div>
                <div class="row">
                    <h5>Click following button to Log in to your account. Or go back to Home page.</h5>
                    <span class="text-nowrap">
                    <a href="/UserAdmins/Login" class="btn btn-success">Login</a>
                    <a href="/Home/Index" class="btn btn-primary">Go back Home</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


@*<div class="container">
    <div class="row d-flex justify-content-center"><i class="bi bi-check-lg"></i></div>
    <div class="row">
        <h2 class="d-flex justify-content-center">New User Successfully Created</h2>

    </div>
    <div class="row d-flex justify-content-center">
        <p class="d-flex justify-content-center">
            We are here to offer our services for you especially. Account succefully creation email
            has been sent to you registered Email Address. <br />You can Log in to Click below
        </p>
        <br />
        
    </div>
    <div class="row d-flex justify-content-center">
        <a href="/UserAdmins/Login" class="btn btn-success">Log in</a><br />
        <a href="/Home/Index" class="btn btn-warning">Back to Home</a>
    </div>
</div>*@
