@{
    ViewData["Title"] = "Customer";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Theta Ecommerece Website</h1>
    @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

</div>
<div>
    <a asp-controller="Customer" asp-action="CreateCustomer" class="btn btn-success">Create New Account</a><br/>
    <a asp-controller="" asp-action="">Log in to existing Account</a>
</div>
