@model ecommerece.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label">Product Category</label>
                @{
                    var List = ViewBag.CatList;
                }
                <select asp-for="CatId" class="form-control">
                    @foreach(Category list in List)
                    {
                        <option value="@list.CatId">@list.CatName</option>
                    }
                </select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDecsc" class="control-label">About</label>
                <input asp-for="ShortDecsc" class="form-control" />
                <span asp-validation-for="ShortDecsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDesc" class="control-label">Description</label>
                <input asp-for="LongDesc" class="form-control" />
                <span asp-validation-for="LongDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Product Price</label>
                <input asp-for="ProductPrice" type="number" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDays" class="control-label">Delievery Days</label>
                <input asp-for="DeliveryDays" type="number" class="form-control" />
                <span asp-validation-for="DeliveryDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCharges" class="control-label"></label>
                <input asp-for="DeliveryCharges" type="number" class="form-control" />
                <span asp-validation-for="DeliveryCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImg" class="control-label"></label>
                @*<input asp-for="ProductImg" class="form-control" />*@
                <input type="file" id="prodimg" name="prodImg" class="form-control" multiple/>
                <span asp-validation-for="ProductImg" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create"  class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
